/* 
================================
COLORS & FONT STYLE

================================
farbe (background/border): #eee, #ccc 
farbe text: #659d89, #333, #666, #000


font-family: 'Roboto', sans-serif;
/* 
================================
FONT @IMPORT
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* 
================================
GENERAL STYLE
================================ 
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}


/* ================================
HEADER STYLE
================================/* 
/* 
 */

header {
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
}

.navbartop {
    margin-top: 50px;
    padding-left: 200px;
}

.topnav {
    text-align: left;
    display: inline-block;

}

.topnav a {
    display: inline-block;

}

.topnav a {
    text-decoration: none;
    color: #659d89;

}

header div h1 {
    font-size: 50px;
    color: #659d89;

    padding: 50px 0 50px 200px;

}

header div p {
    width: 800px;
    font-size: 50px;
    color: #000;
    text-decoration: bold;
    padding: 0 0 50px 200px;

}

.navside {
    text-align: right;
    margin-right: 200px;
}

.navsideMiddle {
    padding: 15px 0;
}


header p {
    text-decoration: solid;
    color: #666;

    padding: 0 0 50px 200px;

}

/* 

================================
SECTION STYLE
================================

*/
section {
    width: 100vw;
    height: 100vh;
}

section h2,
section p {
    padding: 0 0 50px 200px;
}

.blockrowOne {
    margin-top: 100px;

    padding-left: 200px;

}

section .blockrowTwo {
    margin-top: 1px;
    padding: 0 0 20px 200px;

}

.blockrowOne .img2 {
    display: inline-block;
    padding: 50px;
}

.blockrowTwo .img2 {
    display: inline-block;
    padding: 50px;
}










/* ================================ 
MAIN STYLE
================================*/

/* 
 */

main {
    margin-top: 400px;
}

main h2 {
    padding: 0 0 50px 200px;
}

.left {
    padding: 0 0 50px 200px;

}

.right {
    padding: 50px 0 50px 600px;
}


/* ================================
FOOTER STYLE
================================*/





/* 

================================
 STYLE
================================

*/