/* 
================================
COLORS & FONT STYLE

================================
farbe (background/border): #eee, #ccc 
farbe text: #659d89, #333, #666, #000


font-family: 'Roboto', sans-serif;
/* 
================================
FONT @IMPORT
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* 
================================
GENERAL STYLE
================================ 
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ================================
HEADER STYLE
================================/* 
/* 
 */

/* ================================ 
MAIN STYLE
================================*/


/* ================================
FOOTER STYLE
================================*/



/* 

================================
STYLE
================================

*/

/* 

================================
 STYLE
================================

*/